:root {
  --primary-color: #fafafa;
  --font-color: #111517;
  --bg-color: #858585;
}

[data-theme="dark"] {
  --primary-color: #2b3945;
  --font-color: #ffffff;
  --bg-color: #202c37;
}
@mixin shadow {
  box-shadow: 0px 2px 10px #e3e3e3;
}

button {
  padding: 0.6rem 0.8rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  & span {
    margin-right: 10px;
  }
}

.input {
  &__container {
    @include shadow();
    min-width: 0;
    padding: 0.7rem 0.9rem;
    background: var(--primary-color);
    color: var(--font-color);
  }
  &__icon {
    margin-right: 10px;
  }
  &__inner {
    padding: 0;
    border: none;
    outline: none;
    background: var(--primary-color);
  }
}

.btn--primary {
  background-color: var(--primary-color);
  @include shadow();
  color: var(--font-color);
}

.header {
  color: var(--font-color);
  &--lg {
    font-size: 2rem;
  }
  &--md {
    font-size: 1.5rem;
  }
}
