:root {
  --primary-color: #fafafa;
  --font-color: #111517;
  --bg-color: #f0f0f0;
  --shadow: #e3e3e3;
}

[data-theme='dark'] {
  --primary-color: #1e272f;
  --font-color: #ffffff;
  --bg-color: #182129;
  --shadow: #151b22;
}
@mixin shadow {
  box-shadow: 0px 2px 10px var(--shadow);
}
a {
  text-decoration: none;
  color: var(--font-color);
}
body {
  background: var(--bg-color);
  font-family: 'Nunito Sans', sans-serif !important;
  transition: background 600ms ease, color 1000ms ease;
}
.main-content {
  margin-top: 100px;
}
.container {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}
.nav {
  @include shadow();
  background: var(--primary-color);
  padding: 2em 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

button {
  padding: 0.6rem 0.8rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  & span {
    margin-right: 10px;
  }
}

input {
  color: var(--font-color);
}

.input {
  &__container {
    @include shadow();
    min-width: 0;
    padding: 0.9rem 0.9rem 0.6rem 0.9rem;
    border-radius: 5px;

    background: var(--primary-color);
    color: var(--font-color);
  }
  &__icon {
    margin-right: 20px;
  }
  &__inner {
    padding: 0;
    border: none;
    outline: none;
    background: var(--primary-color);
    max-width: 300px;
    width: 100%;
  }
}

.btn--primary {
  background-color: var(--primary-color);
  @include shadow();
  color: var(--font-color);
  padding: 0.6rem 1.7rem;
  font-size: 18px;
  border-radius: 6px;
}

.header {
  &--lg {
    font-size: 2rem;
    font-weight: 800;
    color: var(--font-color);
  }
  &--md {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--font-color);
  }
  &--sm {
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
  }
}

.card {
  @include shadow();
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--bg-color);
  background-clip: border-box;
  max-width: 100%;
  color: var(--font-color);
  border-radius: 8px;
  &__image {
    flex-shrink: 0;
    width: 100%;
    height: 220px;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    vertical-align: middle;
  }
  &__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
  }

  &__body__text {
    display: flex;
    margin: 5px 0;
  }
  &__body__title {
    margin-bottom: 20px;
  }
}

.grid {
  margin-top: 60px;
  display: grid;
  column-gap: 3rem;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
