:root {
  --primary-color: #fafafa;
  --font-color: #111517;
  --bg-color: #f0f0f0;
  --shadow: #e3e3e3;
}

[data-theme='dark'] {
  --primary-color: #1e272f;
  --font-color: #ffffff;
  --bg-color: #182129;
  --shadow: #151b22;
}
@mixin shadow {
  box-shadow: 0px 2px 10px var(--shadow);
}

* {
  font-family: 'Nunito Sans', sans-serif !important;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
body {
  background: var(--bg-color);
  transition: background 600ms ease, color 1000ms ease, box-shadow 1000ms ease;
}
.main-content {
  margin-top: 100px;

  &__filters {
    display: flex;
    justify-content: space-between;
  }
}
.container {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}
.nav {
  @include shadow();
  background: var(--primary-color);
  padding: 2em 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

button {
  padding: 0.6rem 0.8rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  & span {
    margin-right: 10px;
  }
}

.select {
  position: relative;
  background: var(--primary-color);
  & img {
    width: 1rem;
    height: 1rem;
  }
}

select {
  @include shadow();
  font-weight: 600;
  background: var(--primary-color);
  &::-ms-expand {
    display: none;
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  color: var(--font-color);
  align-items: center;
  position: relative;
  padding-left: 1rem;
  padding-right: 5rem;
  height: 3.5rem;
  padding-bottom: 1px;
  transition: all 0.2s ease 0s;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}
.arrow {
  position: absolute;
  display: inline-flex;
  width: 1.5rem;
  top: 30%;
  align-items: center;
  justify-content: center;
  right: 0.5rem;
  pointer-events: none;
  z-index: 2;
}
option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

input {
  color: var(--font-color);
  font-weight: 600;
  &::placeholder {
    color: var(--font-color);
  }
}

.input {
  &__container {
    @include shadow();
    min-width: 0;
    padding: 0.9rem 0.9rem 0.6rem 0.9rem;
    border-radius: 5px;
    display: flex;
    align-items: center;

    background: var(--primary-color);
    color: var(--font-color);
  }
  &__icon {
    margin-right: 20px;
  }
  &__inner {
    padding: 0;
    border: none;
    outline: none;
    background: var(--primary-color);
    max-width: 300px;
    width: 100%;
  }
}

.btn--primary {
  background-color: var(--primary-color);
  @include shadow();
  color: var(--font-color);
  padding: 0.4rem 1.8rem;
  font-size: 18px;
  border-radius: 6px;
  font-weight: 300;
}

.header {
  &--lg {
    font-size: 2rem;
    font-weight: 800;
    color: var(--font-color);
  }
  &--md {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--font-color);
  }
  &--sm {
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
  }
}

.card {
  @include shadow();
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--bg-color);
  background-clip: border-box;
  max-width: 350px;
  color: var(--font-color);
  border-radius: 8px;
  &__image {
    flex-shrink: 0;
    width: 100%;
    height: 220px;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    vertical-align: middle;
  }
  &__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
  }

  &__body__text {
    display: flex;
    margin: 5px 0;
  }
  &__body__title {
    margin-bottom: 20px;
  }
}

.grid {
  margin-top: 60px;
  display: grid;
  column-gap: 3rem;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.country {
  margin-top: 60px;
  display: grid;
  column-gap: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  & img {
    width: 100%;
  }
  &__detail {
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    column-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  &__extra {
    display: flex;
    align-items: center;
  }
  &__text {
    display: flex;
    padding: 10px 0;
    color: var(--font-color);
  }
  &__buttons {
    display: flex;
    max-width: 350px;
    flex-wrap: wrap;
    padding: 10px 0;

    & button {
      margin: 4px 5px;
      font-size: 14px;
    }
  }
}
.internet-issue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  h4 {
    color: var(--font-color);
  }
}
